*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.jumbotron {
    /* background-color: #1d1e22; */
    background-color: #393f4d;
    text-align: left;
    color: #feda6a;
    text-shadow: black;
    text-align: center;
    font-size: 1.8em;

}

h1{
    font-size: 1.5em;
}

#jumboText{
    color: #d4d4dc;

}

.row {
    margin: 10px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

header {
    text-align: center;
}

body{
    background-color: #d4d4dc;
    font-size:1.3em;
}

.form-control{
    border-color: #feda6a;
}
